.grid_4.person

    = image_tag "hanna01.png", :class => "photo"
    = image_tag "hanna02.png", :class => "play_what"

.grid_4.person

    = image_tag "edu01.png", :class => "photo"
    = image_tag "edu02.png", :class => "play_what"

.grid_4.person

    = image_tag "dan01.png", :class => "photo"
    = image_tag "dan02.png", :class => "play_what"

.grid_4.person

    = image_tag "preto01.png", :class => "photo"
    = image_tag "preto02.png", :class => "play_what"

.grid_4.person

    = image_tag "igor01.png", :class => "photo"
    = image_tag "igor02.png", :class => "play_what"

.grid_4.person

    = image_tag "eric01.png", :class => "photo"
    = image_tag "eric02.png", :class => "play_what"

.grid_4.person

    = image_tag "big01.png", :class => "photo"
    = image_tag "big02.png", :class => "play_what"

.grid_4

    = image_tag "logoIsambaMedio.png"

