.grid_4.person

	= image_tag "hanna01.png", :class => "photo", 		:alt => "Alexandre Hanna"
	= image_tag "hanna02.png", :class => "play_what" , 	:alt => "Cantor"

.grid_4.person

	= image_tag "edu01.png", :class => "photo" ,	:alt => "Eduzera"
	= image_tag "edu02.png", :class => "play_what", :alt => "Pandeiro"

.grid_4.person

	/ = image_tag "dan01.png", :class => "photo"
	/ = image_tag "dan02.png", :class => "play_what"

	= image_tag "markinhos01.png", :class => "photo",		:alt => "Markinhos"
	= image_tag "markinhos02.png", :class => "play_what",	:alt => "Reco Reco"

.grid_4.person

	= image_tag "preto01.png", :class => "photo",		:alt => "Preto"
	= image_tag "preto02.png", :class => "play_what",	:alt => "Tantan & Surdo"

.grid_4.person

	= image_tag "igor01.png", :class => "photo",		:alt => "Igor"
	= image_tag "igor02.png", :class => "play_what",	:alt => "Violão & Cavaco"

.grid_4.person

	= image_tag "eric01.png", :class => "photo",		:alt => "Eric"
	= image_tag "eric02.png", :class => "play_what",	:alt => "Rebolo & Repique de Anel"

.grid_4.person

	= image_tag "big01.png", :class => "photo",		:alt => "Marcelo Big"
	= image_tag "big02.png", :class => "play_what",	:alt => "Cavaco & Banjo"

.grid_4

	= image_tag "logoIsambaMedio.png", :class => "play_what", :alt => "iSamba"

