%html{html_attrs}
	%head
		%meta{:content => "iSamba. Grupo de samba e pagode de São paulo. Entre em contato: contato@grupoisamba.com.br para show. Tocamos:(Exaltasamba, Revelação, Zeca Pagodinho, Turma do Pagode, Molejo, Samprazer, Fundo de Quinta, Dudu Nobre, Art Popular, Pixote entre outros.)", :name => "description"}/
		%title
			= h(yield(:title) || "Grupo iSamba | Samba e Pagode")
		%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
		= stylesheet_link_tag "reset", "text", "grid","front"
		= javascript_include_tag :defaults
		= yield(:head)
		
		:javascript
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		
		:javascript
			try{
			var pageTracker = _gat._getTracker("UA-19320209-1");
			pageTracker._trackPageview();
			} catch(err) {}

	%body
		.container_16

			= render :partial => "layouts/header"

			#content
				= yield

			= render :partial => "layouts/footer"

